P  {}

H1  {
	font-size: 18px;
	font-family: verdana, helvetica;
	color: blue;
}

H1:Link  {
	font-size: 18px;
	font-family: verdana, helvetica;
	color: red;
}

H2  {
	font-size: 16px;
	font-family: verdana, helvetica;
	color: blue;
}

H3  {
	font-size: 14px;
	font-family: verdana, helvetica;
	color: blue;
}

A.chair:Link  {
    text-decoration: underline;
    font-size: 12px;
    color: black;
}

A.chair:Visited  {
    text-decoration: underline;
    font-size: 12px;
    color: black;
}

A.chair:Active  {
    text-decoration: none;
    background-color: blue;
    font-size: 12px;
    color: white;
}

A.chair:Hover  {
    text-decoration: none;
    background-color: blue;
    font-size: 12px;
    color: white;
}

A.paperBar:Link  {
	text-decoration: none;
	font-size: 11px;
}

A.paperBar:Visited  {
	text-decoration: none;
	font-size: 11px;
}

A.paperBar:Active  {
	text-decoration: none;
	font-size: 11px;
}

A.paperBar:Hover  {
	text-decoration: none;
	font-size: 11px;
}

A.reviewOverview:Hover  {
	text-decoration: underline;
	background-color: #ffffcc;
	font-size: 24px;
	font-family: verdana, helvetica;
	color: black;
}

A.functions:link {
	text-decoration: underline;
	background-color: white;
	font-size: 10px;
	font-family: verdana, helvetica;
	color: black;
}

A.functions:visited {
	text-decoration: underline;
	background-color: white;
	font-size: 10px;
	font-family: verdana, helvetica;
	color: black;
}

A.functions:active {
	text-decoration: none;
	background-color: #ffffcc;
	font-size: 10px;
	font-family: verdana, helvetica;
	color: red;
}

A.functions:hover {
	text-decoration: none;
	background-color: #ffffcc;
	font-size: 10px;
	font-family: verdana, helvetica;
	color: blue;
	outline: green;
}

A.reviewslink:link {
	text-decoration: underline;
	background-color: white;
	font-size: 10px;
	font-family: verdana, helvetica;
	color: black;
}

A.reviewslink:visited {
	text-decoration: underline;
	background-color: white;
	font-size: 10px;
	font-family: verdana, helvetica;
	color: black;
}

A.reviewslink:active {
	text-decoration: underline;
	background-color: white;
	font-size: 10px;
	font-family: verdana, helvetica;
	color: green;
}

A.reviewslink:hover {
	text-decoration: none;
	background-color: #ffffcc;
	font-size: 10px;
	font-family: verdana, helvetica;
	color: green;
	outline: blue;
}

a.info:hover span {
	position: absolute;
	top: 5px;
	left: 30px;
	display: block;
	background: #fff;
	color: #333;
	padding: .2em .5em;
	border: 1px solid #000;
	width: 15em;
	font-size: 85%;
	line-height: 1.6em;
}

.reviewslink {
	text-decoration: underline;
	background-color: white;
	font-size: 10px;
	font-family: verdana, helvetica;
	color: red;
}
body {background-color: white;  font-family: verdana, helvetica; color: black;}
table {
	font-family: verdana, helvetica;
	color: blue;
}
td     {  font-family: Verdana, Helvetica; font-size: 12px; color: black; }
th     {  font-family: Verdana, Helvetica; font-size: 12px; color: blue; }
